.iframe-container {
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 56.25%;
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}


.map-title {
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #281414;
    z-index: 10;
    margin: 0;
    padding: 0;
  }

.kml-info-window-title {
    padding: 0;
    margin: 0;
}

.kml-info-window-body {
    margin-top: 0;
}

.activity-title {
    display: inline;
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    justify-content: center;
}

.marker-description {
    margin-top: 5px;
}

.strava-link {
    margin-top: 5px;
}

.nested-checklist {
    margin-right: 5px;
    padding: 0;
}

.nested-checklist-wrapper {
    position: absolute;
    width: fit-content;
    top: 3rem;
    right: 1rem;
    z-index: 10;
    max-width: 300px;
    height: fit-content;
    border: 2px solid rgb(134, 133, 133);
    margin-top: 10px;
    margin-right: 5px;
    padding-right: 5px;
    background: white;
    text-align: left;
    z-index: 9;
    /* max-height: 100px; */
  }