
.each-slide > div {
    display: center;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 300px;
}

.slideshow-container {
    max-width: 370px;
}